{% extends "course/layout.html" %} 
{% block body %}

<h1>Course {{course.id}}</h1>
<ul>
    <li><b>Course name :</b> {{ course.name }}</li>
    <li><b>Course code :</b> {{ course.code }}</li>
    <li><b>Semester :</b> {{ course.semester }}</li>
    <li><b>Year :</b> {{course.year}}</li>
    <li><b>Quota amount :</b> {{course.amount}}</li>
    <li><b>Status :</b> 
        {% if course.status %}
        <b style = "color: rgb(0, 255, 21);">
        Open
        </b>
        {% else %}
        <b style = "color: rgb(201, 29, 29);">
        Close
        </b>
        {% endif %}
    </b></li>
    
    {% if request.user.is_superuser %}
        {% if course.status %}
        <a href='{%url "course:status" course.id %}' class="button">Close</a>
        {% else %}
        <a href='{%url "course:status" course.id %}' class="button">Open</a>
        {% endif %}
    {% endif %}


</ul>
    
    <ol>
    {% if request.user.is_superuser %}
    <b>Students :</b>
    <br>
    {% if course.registered.all|length <= 0 %}
    <br>
    No student registered
    {% endif %}
    
    <br>
    {% for student in course.registered.all %}
    <li>{{student}}</li>
    {% endfor %}
    {% endif %}
</ol>
<br>
<a href='{%url "course:index" %}' class="button">Back</a>

{% endblock %}
