{% extends "course/layout.html" %} 
{% block body %}

<h1>Course {{course.id}}</h1>
<ul>
    <li>Course name : {{ course.name }}</li>
    <li>Course code : {{ course.code }}</li>
    <li>Semester : {{ course.semester }}</li>
    <li>Year : {{course.year}}</li>
    <li>Quota amount : {{course.amount}}</li>
    <li>Status : {{course.status}}</li></ul>
    <ol>
    {% if request.user.is_superuser %}
    Students :
    {% if course.registered.all|length <= 0 %}
    <br>
    No student registered
    {% endif %}
    {% for student in course.registered.all %}
    <li>{{student}}</li>
    {% endfor %}
    {% endif %}
</ol>
<a href='{%url "users:index" %}'>Back</a>

{% endblock %}
